.catImage {
  border-radius: 15%;
  max-width: 100%;
  display: block;
}

.catGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 221, 238, 0.75);
  border: pink dotted 5px;
  width: 75%;
}

#imgHolder {
  position: relative;
  display: inline-block;
}

.catGrid button {
  position: absolute;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.catGrid img {
  width: 300px;
  height: 300px;
  object-fit: fill;
}

.catGrid p {
  color: #ff30c1;
  font-size: 25px;
}

button {
  background-color: rgba(234, 97, 165, 0.75);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  font-size: 15px;
}

button:hover {
  background-color: rgba(255, 221, 238, 0.5);
}
